<div class="text-center">
    <h1>Notes</h1>

    <div class="row text-left">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="note in notes | orderBy: 'dateCreated'" ng-click="go(note)">
                    {{note.title}}
                </li>
            </ul>
        </div>
        <div class="col-md-9">
                <div>
                    {{currentNote.content}}
                </div>
            </div>
        </div>
    </div>
</div>