<!DOCTYPE html>
<html ng-app="application" class="ng-cloak"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>NoteKeepr</title>

        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.css"/>
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/css/xeditable.css"/>
        <!--<link rel="stylesheet" type="text/css" href="css/lib/angular-toastr.min.css"/>-->

        <link rel="stylesheet" href="css/lib/bootstrap-switch.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>

    </head>
    <body ng-controller="notesController">
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="brand" href="/"><img class="logo" src="img/logo.png"/></a>
                        <span>{{currentUser.getFullName()}}</span>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Notes"><i class="fa fa-sticky-note-o"></i> Notes</a></li>
                        <li><a href="/UserDetails"><i class="fa fa-user"></i> User Details</a></li>
                        <li ng-show="isAdmin"><a href="/Admin"><i class="fa fa-cog"></i> Admin</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-primary btn-medium">Log Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container">
            <div id="main">
                <div ng-view=""></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular-rangy.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular-sanitize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.5/smart-table.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/js/xeditable.min.js"></script>
        <!--<script src="js/lib/angular-toastr.min.js"></script>-->
        <script src="js/lib/bootstrap-switch.min.js"></script>
        <script src="js/lib/angular-bootstrap-switch.min.js"></script>


        <script src="js/main.js"></script>
        <script src="js/notesController.js"></script>
        <script src="js/adminController.js"></script>
        <script src="js/userDetailsController.js"></script>
        <script src="js/models/note.js"></script>
        <script src="js/models/user.js"></script>
        <script src="js/services/noteService.js"></script>
    </body>
</html>