<!DOCTYPE html>
<html ng-app="application"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>NoteKeepr</title>

        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>

        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/lib/textAngular.css"/>
        <link rel="stylesheet" type="text/css" href="css/lib/select2-bootstrap.css"/>

    </head>
    <body ng-controller="notesController">
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="brand" href="/"><img class="logo" src="img/logo.png"/></a>
                        <span>{{currentUser.getFullName()}}</span>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Notes"><i class="fa fa-sticky-note-o"></i> Notes</a></li>
                        <li><a href="/UserDetails"><i class="fa fa-user"></i> User Details</a></li>
                        <li ng-show="currentUser.isAdmin()"><a href="/Admin"><i class="fa fa-cog"></i> Admin</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-primary btn-medium">Log Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container">
            <div id="main">
                <div ng-view=""></div>
            </div>
        </div>

        <script src="js/lib/jquery.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-route.min.js"></script>
        <script src="js/lib/angular-resource.min.js"></script>
        <script src="js/lib/textAngular-rangy.min.js"></script>
        <script src="js/lib/textAngular-sanitize.min.js"></script>
        <script src="js/lib/textAngular.min.js"></script>
        <script src="js/lib/select2.full.min.js"></script>

        <script src="js/main.js"></script>
        <script src="js/notesController.js"></script>
        <script src="js/adminController.js"></script>
        <script src="js/userDetailsController.js"></script>
        <script src="js/models/note.js"></script>
        <script src="js/models/user.js"></script>
        <script src="js/services/noteService.js"></script>
    </body>
</html>